[submodule "ThirdParty/boost"]
	path = ThirdParty/boost
	url = https://github.com/boostorg/boost.git
[submodule "ThirdParty/fmt"]
	path = ThirdParty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "ThirdParty/glfw"]
	path = ThirdParty/glfw
	url = https://github.com/glfw/glfw.git
